<h1>Give Away Items</h1>
  <% @items.each do |item| %>
    <div class='item'>
      <%= link_to (image_tag item.give_away_item_image), item %>
      <div class='title'><%= item.title %></div>
      <div class='actions'>
        <%= link_to 'Edit' %> | 
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }%>
      </div>
    </div>
  <% end %>

<div class='clear'></div>
  <p><%= link_to 'Post An Item', new_give_away_item_path %></p>
