<!DOCTYPE html>
<html>
<head>
  <title>BuyNothing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  <% if user_signed_in? %>
    <li>Signed in as <%= current_user.email %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Create An Account', new_user_registration_path %></li>
  <% end %>
<%= yield %>

</body>
</html>
